<?xml version="1.0"?>
<launch>
  <include file="$(find tams_pr2_moveit_config)/launch/demo.launch">
    <arg name="use_gui" value="true" />
    <arg name="use_rviz" value="false" />
    <arg name="load_robot_description" value="false" />
  </include>

  <include file="$(dirname)/plectrum.launch">
    <arg name="robot_state_publisher" value="false" />
  </include>

  <include file="$(dirname)/spawn_example_d6.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d '$(dirname)/../config/guzheng.rviz'" />

  <!-- used to set offsets -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
</launch>
