<?xml version="1.0"?>
<launch>
  <include file="$(find tams_pr2_moveit_config)/launch/demo.launch">
    <arg name="use_gui" value="true" />
    <arg name="use_rviz" value="false" />
    <arg name="load_robot_description" value="false" />
    <arg name="fake_execution_type" value="interpolate" /> <!-- mandatory for validity function evaluation -->
  </include>

  <include file="$(dirname)/robot_model.launch">
    <arg name="robot_state_publisher" value="false" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d '$(dirname)/../config/guzheng.rviz'" />

  <!-- used to set offsets -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

  <node name="moveit_by_name" pkg="moveit_by_name" type="moveit_by_name" />

  <include file="$(dirname)/string_fitter.launch" />
  <param name="/guzheng/string_fitter/storage_path" value="$(find tams_pr2_guzheng)/data/strings_example.yaml" />
  <param name="/guzheng/string_fitter/load_static_on_startup" value="true" />

  <include file="$(dirname)/pluck_from_path.launch" />
  <include file="$(dirname)/run_episode.launch">
    <arg name="listen" value="true" />
  </include>

  <node name="no_mannequin_mode_pub" pkg="rostopic" type="rostopic" args="pub /mannequin_mode_active std_msgs/Bool 'data: false'" />
</launch>
