<?xml version="1.0"?>
<launch>
  <arg name="string" default="all" />
  <arg name="initial_string" default="" />
  <arg name="finger" default="ff" />
  <arg name="direction" default="0.0" />
  <arg name="string_position" default="-1.0" />

  <arg name="runs" default="0" />
  <arg name="attempts_per_string" default="1" />

  <!-- valid values: 'geometry', 'avpe', 'random' -->
  <arg name="strategy" default="random" />
  <!-- valid values: 'uniform', 'halton' -->
  <arg name="position_strategy" default="halton" />
  <!-- <arg name="attempts_for_good_pluck" default="4" /> -->

  <arg name="storage" default="" />

  <node name="explore" pkg="tams_pr2_guzheng" type="explore_via_run_episode.py" output="screen">
    <param name="string" value="$(arg string)" />
    <param name="initial_string" value="$(arg initial_string)" />
    <param name="finger" value="$(arg finger)" />
    <param name="direction" value="$(arg direction)" />
    <param name="string_position" value="$(arg string_position)" />

    <param name="runs" value="$(arg runs)" />
    <param name="attempts_per_string" value="$(arg attempts_per_string)" />

    <param name="strategy" value="$(arg strategy)" />
    <param name="position_strategy" value="$(arg position_strategy)" />

    <param name="storage" value="$(arg storage)" />
  </node>
</launch>
