<?xml version="1.0"?>
<launch>
  <arg name="note" />
  <arg name="finger" default="ff" />
  <arg name="runs" default="1" />
  <arg name="direction" default="0.0" />
  <arg name="string_position" default="-1.0" />

  <node name="explore" pkg="tams_pr2_guzheng" type="explore_via_run_episode.py" output="screen">
    <param name="note" value="$(arg note)" />
    <param name="finger" value="$(arg finger)" />
    <param name="runs" value="$(arg runs)" />
    <param name="direction" value="$(arg direction)" />
    <param name="string_position" value="$(arg string_position)" />
  </node>
</launch>
