<?xml version="1.0"?>
<launch>
  <arg name="microphone" />

  <include if="$(arg microphone)" file="$(dirname)/microphone.launch">
    <arg name="play" value="false" />
  </include>

  <include file="$(dirname)/play_audio_topic.launch" />

  <include file="$(dirname)/detect_onset.launch" />
  <include file="$(dirname)/detect_pluck.launch" />

  <include file="$(dirname)/projectors.launch" />
</launch>
