<?xml version="1.0"?>
<!-- start pr2 part of system -->
<launch>
  <include file="$(dirname)/plectrum.launch" />
  <include file="$(dirname)/projectors.launch" />
  <include file="$(dirname)/detect_pluck.launch" />
  <include file="$(dirname)/pluck_from_path.launch" />
  <include file="$(dirname)/run_episode.launch">
    <arg name="listen" value="true" />
  </include>
</launch>
